.form {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 82px;
  display: flex;

  & .input {
    flex: 1;
    height: 56px;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    color: var(--gray-300);
    background-color: #1F1E25;

    & .input::placeholder {
      color: var(red);
    }
  }

  & .button-confirm {
    overflow: hidden;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    & .button-confirm-text {
      width: 56px;
      height: 56px;
      border: none;
      cursor: pointer;
      font-size: 28px;
      color: var(--white);
      background-color: var(--green-300);
    }
  }
}