.form {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 82px;
  display: flex;

  & .input {
      width: 100%;
      height: 56px;
      padding: 16px;
      font-size: 16px;
      border-radius: 5px;
      color: var(--gray-300);
      background-color: #1F1E25;

      & .input::placeholder {
          color: var(--gray-300);
        }
    }

  & .button {
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    & .buttonText {
      width: 56px;
      height: 56px;
      border: none;
      font-size: 28px;
      color: var(--white);
      background-color: #31CF37;
    }
  }
}