.container {
  width: 100%;
  background-color: #1F1E25;
  border-radius: 5px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  flex: 1;
  color: #FFF;
  font-size: 16px;
  margin-left: 16px;
}

.button {
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.buttonText {
  padding: 10px;
  width: 56px;
  height: 56px;
  border: none;
  font-size: 28px;
  color: var(--white);
  align-items: center;
  justify-content: center;
  background-color: #E23C44;
}