:root {
  --white: #FFF;

  --gray-100: #E1E1E6;
  --gray-200: #C4C4CC;
  --gray-300: #8D8D99;
  --gray-500: #323238;
  --gray-600: #29292E;
  --gray-700: #121214;
  --gray-900: #09090A;

  --blue-100: #0D133D;
  --blue-200: #0E1647;
  --blue-300: #171F52;
  --blue-400: #1B2565;
  --blue-500: #1B2565;
  --blue-600: #243189;
  --blue-700: #1D2766;
  --blue-800: #495BCC;

  --tokenlab: #0F2A51;

  --green-300: #00B37E;
  --green-500: #00875F;
  --green-700: #015F43;

  --discord: #7289da;
  
  --red-500: #F75A68;
  --red-700: #E51C44;
  
  --orange-500: #FBA94C;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}