.container {
  height: 100vh;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-size: 40px;
  color: var(--blue-800);
}

.subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--blue-800);
}

.box {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-direction: column;
}

.input {
  width: 100%;
  padding: 15px;
  border: none;
  height: 60px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 18px;
  background-color: var(--blue-700);
}

.input::placeholder {
  color: white;
}

.button {
  width: 100%;
  padding: 18px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--blue-800);
}

.div-button {
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--blue-800);
}

.button-transparent {
  border: 0;
  width: 100%;
  padding: 18px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: var(--blue-800);

  background-color: transparent;
}

.footer {
  width: 100%;
  margin-top: 200px;

  display: flex;
  align-items: center;
  flex-direction: column;
}